html, body{
height:100%;
margin:0;
}
#main{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  text-align: center;
}#top{
    flex:1;
}#middle{
    flex:3;
    flex-direction: row;
    display: flex;
    text-align: left;
}#bottom{
    flex:2;
}
h1{
    font-size: 64px;
    margin-bottom: 10px;
}
#subheader{
    font-size: 16px;
    color: gray;
    margin-bottom: 20px;
}
#btn1{
    width: 200px;
    height: 40px;
    background-color: #23272a;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 70px;
}
.form{
    width:380px;
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: #f6f8fa;
    margin: 20px;
    box-shadow: 0 20px 20px 20px rgba(0,0,0,0.1);
    margin-top: 40px;
}
#enter{
    width:380px;
    border-top: 50px solid #0e72e6;
    border-left: 10px solid #0e72e6;
    border-right: 10px solid #0e72e6;
    border-bottom: 10px solid #0e72e6;
    margin-top:-40px;
    
}
#p121{
    color:white;
    position: relative;
    top: -40px;
}
.subdes{
    font-size: 14px;
    color: gray;
    margin-top: -10px;
    margin-bottom: 10px;
}

.price {
  display: flex;
  align-items: baseline; 
  gap: 1px;
  margin-left: 60px;
    margin-top: 20px;
  font-family: system-ui, -apple-system, sans-serif;
}

.doll{
    font-size: 19px;
  color: #57606a;
  position: relative;
  top: -30px
}

.num{
    font-size: 48px;
  font-weight: 700;
  color: #24292f;
  line-height: 1;
}
.usd{
    font-size: 20px;
  font-weight: 600;
  color: #24292f;
  margin-left: 2px;
}
.text{
    font-size: 14px;
  color: #57606a;
  margin-left: 6px;
  position: relative;
    top: -10px;
}
.middle1btn{
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#freebtn{
    width: 95%;
    background-color: white;
    color: black;
    border: 0.5px solid gray;
    margin-bottom: 15px;
}
#teambtn{
    width: 95%;
    background-color: black;
    color: white;
    margin-bottom: 15px;
}

#enterbtn1{
    width: 47.5%;
    background-color: black;
    color: white;
    border: 0.5px solid gray;
    margin-bottom: 15px;
}

#enterbtn2{
    width: 47.5%;
    background-color: white;
    color: black;
    border: 0.5px solid gray;
    margin-bottom: 15px;
}
.middle1{
    text-align: center;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.middle2{

}
ul{
    padding-left: 30px;
    list-style-type: "> "
}
.teamenter{
    list-style-type: "← "
}
h5{
 padding-left: 20px;
 margin-bottom: -10px;
 color:#086ada;
}
li{
    margin-bottom: 25px;
    font-size: 16px;
    color: #59636e;
    font-weight: 600;
}
.more{margin-top: -26px;
    margin-bottom: 25px;
    font-size: 12px;
}

#bottom{
    width: 93%;
}

#bottom .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 карточки в ряд */
    grid-template-rows: repeat(2, auto);  /* 2 ряда, высота под контент */
    gap: 30px;                             /* расстояние между карточками */
    padding: 30px;
}

.card {
    height: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    padding: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.cardimg {
    width: 40px;
    height: 40px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 30px;
}

.cardh3 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

.cardp {
    font-size: 16px;
    color: grey;
    margin-bottom: 10px;
}

.carda {
    margin-top: 20px;
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
